@import '~react-md/src/scss/react-md';

$md-card-title-large-font-size: 10px !default;
.md-block-centered{
    background-color:#40E0D0;    
    color: black;
}
.cardContent{
    color: black;
}

.cardTitle{
    color: black;    
}
.md-card-title{
    color: black;
}